.eventos{
    width: 100%;
    overflow: hidden;
}

.titulo-eventos{
    width: 60%;
    color: white;
}

.card-event{
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-event:hover img{
    transform: scale(1.1);
    transition: 1s ease;

}

.card-event img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.capa-card-eventos{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}

.btn-evento{
    height: 50px;
    width: 250px;
    background-color: #2ebca6;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 599px) {
   
    .titulo-eventos{
        width: 100%;
        font-size: 13px;
    }

    .card-event{
        height: 200px;
        width: 100%;
        position: relative;
    }

    .nombre-evento{
        height: 50px;
        width: 200px;
        background-color: #01f7b8;
        margin-left: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nombre-evento h4{
        font-size: 15px;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .titulo-eventos{
        width: 75%;
    }

    .card-event {
        height: 197px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .btn-evento {
        height: 50px;
        width: 176px;
    }

    .portada-secudariaInicio {
        height: 413px;
        width: 100%;
    }
}