.portada-fiestas {
    height: 600px;
    width: 100%;
    position: relative;
}

.portada-fiestas img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.capaPortada-fiestas {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventos{
    height: auto;
    width: 100%;
    display: flex;
}


.info-text-eventos{
    height: 400px;
   background-color: rebeccapurple;
   width: 50%;   
}

.eventos-container-img{
    height: 400px;
    width: 50%;
}

@media screen and (max-width: 599px) {

    .eventos{
        height: auto;
        width: 100%;
        display: flex;
    }

    .info-text-eventos{
        height: 400px;
       background-color: red;
       width: 100%;   
    }
    
    .eventos-container-img{
        height: 400px;
        width: 100%;
    }


}