.footer {
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    width: 100%;
}

.container-logo-footer {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.container-logo-footer img {
    height: 150px;
    width: 200px;

}

.contacto-footer {
    height: 100px;
    width: 100%;
    margin-top: 0px;
    color: #01f7b8;
    display: flex;
}

.contacto-footer ul {
    font-size: 16px;
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 30px;
}


.headers-footer {
    height: 100px;
    width: 100%;
}

.headers-footer ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.headers-footer ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.redes-footer {
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
}

.footer-logo-magic {
    width: 30%;
    height: 100px;
}

.footer-logo-magic div ul {
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.footer-logo-magic li {
    list-style: none;
}

.footer-logo-magic a {
    color: white;

}

.redes-personal {
    width: 50%;
    height: 100px;
}

.enlace-personal {
    display: flex;
    align-items: center;
    gap: 20px;
}

.enlace-personal span {
    font-size: 20px;
}

.enlace-personal a {
    text-decoration: none;
}

.enlace-personal a:hover {
    color: #01f7b8;
}

.redes-footer a {
    color: white;
}



/* ****************************************************** */



@media screen and (max-width: 599px) {
    .footer {
        height: 700px;
    }

    .footer-menu {
        width: 100%;
        height: 599px;
    }

    .redes-footer {
        height: 224px;
        width: 100%;
        text-align: center;
        padding: 0px 30px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .footer-logo-magic {
        width: 100%;
        height: 100px;
    }

    .redes-personal {
        width: 102%;
        height: 100px;
    }

    .enlace-personal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .redes-footer ul {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .container-logo-footer {
        display: none;
    }

    .contacto-footer {
        margin-top: 30px;
    }

    .contacto-footer ul {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .headers-footer {
        height: 146px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .contacto-footer {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        padding: 0px 30px;
    }

    .headers-footer ul {
        height: 100%;
        width: 87%;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 29px;
        text-align: center;
    }
}




@media screen and (min-width: 600px) and (max-width: 991px) {


    .column-logo-footer {
        display: none;
    }

    .headers-footer ul {
        height: 97%;
        width: 100%;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}