.footer{
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu{
    width: 100%;
}

.container-logo-footer{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.container-logo-footer img{
    height: 150px;
    width: 200px;
   
}

.contacto-footer{
    height: 100px;
    width: 100%;
    margin-top: 0px;
    color: #01f7b8;
}

.contacto-footer ul{
    font-size: 16px;
    list-style: none;
    padding: 0px;
}

.container-links-footer{
    height: 100%;
    width: 100%;
}

.headers-footer{
    height: 100px;
    width: 100%;
}

.headers-footer ul{
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0px;
    display: flex;
   gap: 50px;
    align-items: center;
}

.headers-footer ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.redes-footer{
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
}

.redes-footer div{
    display: flex;
    align-items: center;
}

.redes-footer > div > ul{
  width: 50%;
}

.redes-footer ul{    
    width: 100%;   
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    gap: 20px;
}

.redes-footer a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 599px) {
    .footer{
        height: 500px;
    }

    .redes-footer {
        height: 100px;
        width: 100%;
        text-align: center;
        padding: 0px 30px;
        margin-bottom: 20px;
    }

    .redes-footer ul{       
       padding: 10px 0px;
       display: flex;
       justify-content: center;
       gap: 30px;
    }

    .redes-footer div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-logo-footer{
        display: none;
    }

    .container-links-footer{
        height: 300px;
    }

    .contacto-footer{
        margin-top: 30px;
    }

    .contacto-footer ul {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .headers-footer {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .headers-footer ul {
        height: 100%;
        width: 87%;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 29px;
        text-align: center;
    }
}


@media screen and (min-width: 600px) and (max-width: 991px) {
    .column-logo-footer{
       display: none;
    }

    .headers-footer ul {
        height: 97%;
        width: 75%;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
