.portada-Marcas{
    height: 600px;
    width: 100%;
   position: relative;
}

.portada-Marcas img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.capa-portada-Marcas{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    position: absolute;
    top: 0;
    left: 0;
}

.capa-portada-Marcas button{
    padding: 10px 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.capa-portada-Marcas button:hover{
    background-color: #191919;
    color: white;
    border: 1px solid #01f7b8;
    transition: 0.5s ease;
}

.container-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bodas-img{
    height: 350px;
    width: 100%;
}

.bodas-img img{
    height: 100%;
    width: 100%;
    background-color: blue;
    object-fit: cover;
}


.eventos-marcas {
    width: 100%;
    display: flex;
    gap: 20px;
}


.info-text-eventos-marcas {
    height: 400px;
    width: 50%;
}

.eventosMarcas-container-img {
    height: 450px;
    width: 50%;
}

.eventosMarcas-container-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.eventos-Marcas2{
    width: 100%;
    display: flex;
    gap: 20px;
}


/* ************************************************* */
.portada-secundaria-bodas{
    height: 400px;
    width: 100%;
    background-image: url("../img//events3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 599px) {
    .eventos-marcas{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .info-text-eventos-marcas {
        height: 500px;
        width: 100%;
        padding-top: 30px;
    }

    .eventosMarcas-container-img{
        height: 450px;
        width: 100%;
    }
    
    .eventos-Marcas2{
        display: flex;
        flex-direction: column;
    }
   
}