.menu-nav{
    background-color:rgba(255, 0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    font-size: 25px;
    font-weight: bold;
    animation: header-scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    transition: 5s ease;
}

.link-menu{
    font-size: 20px;
}

.link-menu:hover{
    color: #01f7b8;
    transition: 0.5s ease;
    
}

@keyframes header-scroll {
    to{
        background-color: black;
    }
}

.logo-nav{
    height: 70px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav img{
    height: 50%;
    width: 100%;
 
}

@media screen and (max-width: 599px) {
    .menu-nav{
        background-color:black;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        font-size: 20px;
        font-weight: bold;
        animation: header-scroll linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
        transition: 5s ease;
    }

    .link-menu{
        color: white;
        font-size: 15px;
    }

    
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .menu-nav{
        background-color:black;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        font-size: 20px;
        font-weight: bold;
        animation: header-scroll linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
        transition: 5s ease;
    }

}