.menu-nav{
    background-color:rgba(255, 0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    font-size: 20px;
    font-weight: bold;
    animation: header-scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    transition: 5s ease;
}

@keyframes header-scroll {
    to{
        background-color: #191919;
    }
}