.portada-bodas{
    height: 600px;
    width: 100%;
   position: relative;
}

.portada-bodas img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.capa-portada-bodas{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    position: absolute;
    top: 0;
    left: 0;
}

.capa-portada-bodas button{
    padding: 10px 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.capa-portada-bodas button:hover{
    background-color: #191919;
    color: white;
    border: 1px solid #01f7b8;
    transition: 0.5s ease;
}

.container-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bodas-img{
    height: 350px;
    width: 100%;
}

.bodas-img img{
    height: 100%;
    width: 100%;
    background-color: blue;
    object-fit: cover;
}

.descripcion-bodas{
    font-size: 20px;
    color: white;
}

/* ******************************************************* */
.cardMomentos-boda{
    height: 400px;
    width: 100%;
    background-color: red;
}

.cardMomentos-boda img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}   


.titulo-bodas{
    width: 100%;
}
/* ********************** servicios********************************* */
.servicios-bodas{
    height: 350px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    color: black;
}

.hearderServicios{
    height: 100px;
    width: 100%;
}



/* ************************************************* */
.portada-secundaria-bodas{
    height: 400px;
    width: 100%;
    background-image: url("../img//events3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 599px) {

  .servicios-bodas{
    height: 300px;
  }

    .titulo-bodas{
        width: 100%;
    }

    .descripcion-bodas{
        font-size: 15px;
        margin-bottom: 30px;
    }

    .cardMomentos-boda{
        margin: 60px 0px;
        font-size: 20px;
    }
    
    .servicios-bodas i{
        font-size: 70px;
    }

    .portada-secundaria-bodas div{
        width:70%;
    }
   
}