.servicios-bodas{
    height: 350px;
    width: 100%;
    background-color: blue;
    border-radius: 20px;
    overflow: hidden;
    color: black;
}

.hearderServicios{
    height: 100px;
    width: 100%;
}

.color-servicios{
    background-color:#2ebca6;
}

.color-servicios2{
    background-color: #2ebca6;
}

.color-servicios3{
    background-color:#126e7b ;
}

.servicios-bodas i{
    font-size: 70px;
}
