.servicios-bodas{
    height: 350px;
    width: 100%;
    background-color: blue;
    border-radius: 20px;
    overflow: hidden;
    color: black;
}

.hearderServicios{
    height: 100px;
    width: 100%;
}

.color-servicios{
    background-color:transparent;
    color: #2ebca6;
    border: 1px solid #2ebca6;
}

.color-servicios2{
    background-color: transparent;
    color: #2ebca6;
    border: 1px solid #2ebca6;
}

.color-servicios3{
    background-color: transparent;
    color: #2ebca6;
    border: 1px solid #2ebca6;
}

.servicios-bodas i{
    font-size: 70px;
}

.bodyServicios p{
    font-weight: bold;
    color: white;
}