.App {
    background-color: #1b1b1b;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
    width: 100%;
}

.text-color {
    color: #01f7b8;
}

.wsp {
    height: 90px;
    width: 150px;
    position: fixed;
    bottom: 40px;
    right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #01f7b8;
}


@media screen and (max-width: 599px) {
    .wsp {
        height: 50px;
        width: 100px;
        position: fixed;
        bottom: 40px;
        right: 0px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: #01f7b8;
    }
}